*{
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 200px;
}
.container{
    padding-top: 60px;
    
}

section{
    height: 580px;
    background-color:#F0FFF0;
}

.learn{
    color: orangered;
    font-size: 20px;
}
.head{
    color: seagreen;
    font-size: 50px;
}
.heading{
    font-size: 50px;
}
.illustration img{
    width: 580px;
}
.collapse a:hover{
    background-color: #0baf65;
    border-radius: 18px;
    padding: 10px 20px 10px 20px;
}
.card img{
    width: 80px;
    height: 100px;
    padding-top: 20px;
}
.card{
    border: none;
    background-color:#F0FFF0 ;
}
#card-two{
    box-shadow: 5px 5px 5px 5px rgb(197, 184, 184);
    background-color: white;
}

.online img{
    width: 320px;
    height: 250px;
    padding-top: 8%;
    padding-left: 30px;

}
.button{
    border: none;
    color:white;
    background-color: #21B573;
    border-radius: 15px;
    padding: 5px 15px;
}
.online{
    background-color: white;
    border: 1px solid black transparent;
    
}

.calender img{
    width: 40px;
    height: 30px; 

}

.student2 img{
    width: 40px;
    height: 30px;
}
.test img{
    width: 200px;
    height:200px;
}
.third{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
article{
    background-color: black;
    color: white;
    height: 300px;
    
}
li{
    list-style-type: none;
}
footer{
    text-align: center;
}







